In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB,GaussianNB

In [2]:
play_tennis = pd.read_csv("D:\DataSetfor MLandDL\PlayTennis.csv")

In [3]:
play_tennis.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

###### Perform some EDA

In [4]:
play_tennis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [5]:
play_tennis.describe()

       outlook  temp humidity  windy play
count       14    14       14     14   14
unique       3     3        2      2    2
top      sunny  mild     high  False  yes
freq         5     6        7      8    9

In [6]:
play_tennis.isnull().sum()

outlook     0
temp        0
humidity    0
windy       0
play        0
dtype: int64

In [7]:
play_tennis.isna().sum()

outlook     0
temp        0
humidity    0
windy       0
play        0
dtype: int64

In [8]:
play_tennis.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

###### As we known that Machine can,t understand Text, images, they only understand number soo in our dataset feature are categorical feature soo we should convert it into vector with the help of--> "LabelEncoder/ One-hot-encoder"

###### here I used LabelEncoder

In [9]:
label_en = LabelEncoder()

In [10]:
play_tennis['outlook'] = label_en.fit_transform(play_tennis['outlook'])
play_tennis['temp'] = label_en.fit_transform(play_tennis['temp'])
play_tennis['windy'] = label_en.fit_transform(play_tennis['windy'])
play_tennis['play'] = label_en.fit_transform(play_tennis['play'])
play_tennis['humidity'] = label_en.fit_transform(play_tennis['humidity'])

In [11]:
play_tennis

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

In [12]:
X = play_tennis.drop(['play'] , axis=1)
lable = play_tennis['play']

In [13]:
lable

0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0
Name: play, dtype: int32

In [14]:
print('Our dataset features:: \n', X)

Our dataset features::
     outlook  temp  humidity  windy
0         2     1         0      0
1         2     1         0      1
2         0     1         0      0
3         1     2         0      0
4         1     0         1      0
5         1     0         1      1
6         0     0         1      1
7         2     2         0      0
8         2     0         1      0
9         1     2         1      0
10        2     2         1      1
11        0     2         0      1
12        0     1         1      0
13        1     2         0      1

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(X, lable , test_size=0.4, random_state=101, stratify=lable)

In [16]:
print(len(X_train))
print(len(Y_train))
print(len(X_test))
print(len(Y_test))

8
8
6
6

In [17]:
model = MultinomialNB()

In [18]:
model.fit(X_train, Y_train)

MultinomialNB()

In [19]:
model.score(X_test,Y_test)

0.6666666666666666

In [20]:
#Actual class or label for X_test which is Y_test
Y_test

11    1
9     1
7     0
1     0
3     1
6     1
Name: play, dtype: int32

In [21]:
model.predict(X_test)

array([0, 1, 1, 0, 1, 1])

###### For comparision I also apply Gaussian NaiveBayes

In [22]:
model = GaussianNB()
model.fit(X_train,Y_train)

GaussianNB()

In [23]:
model.score(X_test,Y_test)

0.6666666666666666

In [24]:
Y_test

11    1
9     1
7     0
1     0
3     1
6     1
Name: play, dtype: int32

In [25]:
model.predict(X_test)

array([0, 1, 0, 0, 0, 1])

In [26]:
play_tennis

    outlook  temp  humidity  windy  play
0         2     1         0      0     0
1         2     1         0      1     0
2         0     1         0      0     1
3         1     2         0      0     1
4         1     0         1      0     1
5         1     0         1      1     0
6         0     0         1      1     1
7         2     2         0      0     0
8         2     0         1      0     1
9         1     2         1      0     1
10        2     2         1      1     1
11        0     2         0      1     1
12        0     1         1      0     1
13        1     2         0      1     0

###### Here I will used one-hote-encoder

In [27]:
one_hot_encoder = OneHotEncoder(handle_unknown='error', sparse=True)

In [28]:
play_tennis['outlook'] = one_hot_encoder.transform(play_tennis[['outlook']])
play_tennis['temp'] = one_hot_encoder.transform(play_tennis[['temp']])
play_tennis['humidity'] = one_hot_encoder.transform(play_tennis[['humidity']])
play_tennis['windy'] = one_hot_encoder.transform(play_tennis[['windy']])

NotFittedError: This OneHotEncoder instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.